.RecipeList {
    text-align: center;
    padding: 3% 3% 3% 3%;
    width: 90%;
    margin: 0 auto;
    
    .Ingredients {
        text-align: center;
    }

    .Text {
      text-align: center;
    }
    .RecipeImage {
      width: 70%;
      position: relative;
      margin: 3%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h5 {
      padding: 2% 0 2% 0;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        
        .Recipe {
            flex-direction: column;
            
        }
    }
}

@media all and (max-width: 700px) {
  .RecipeList {
    width: 90%;
    margin: auto;
    padding: 0;

      .RecipeImage {
      width: 90%;
      box-shadow: none;
      }

      .Text {
        text-align: justify;
      }
      
      .Body {
        border: 1px solid green;
      }

      .container {
        padding: 0;
      }
    
  }
}