.RecipeList {
    text-align: center;
    padding: 3% 5% 3% 5%;

    .Ingredients {
        text-align: center;

        table.blueTable {
            background-color: #FFFFFF;
            width: 80%;
            text-align: center;
            border-collapse: collapse;
          }
          table.blueTable td, table.blueTable th {
            padding: 3px 2px;
          }
          table.blueTable tbody td {
            font-size: 15px;
          }
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .Recipe {
            flex-direction: column;
            padding: 3%;
        }
    }
}

// @media screen and (max-width: 700px) {
    
// }